body {
    font-family: 'Fira Sans', 'Sans-Serif';	
    font-variant-numeric: oldstyle-nums;
    -moz-font-feature-settings: "onum";
    -webkit-font-feature-settings: "onum";
    font-feature-settings: "onum";
    font-size: 1em;
    line-height: 1.6em;
    margin: 60px auto;
    width: 65%;
}
html {
  font-family: 'Fira Sans', 'Sans-Serif';
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}
nav ul, footer ul {
    font-family: 'Fira Sans', 'Sans-Serif';
	padding: 0px;
	font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em; 
    font-family: 'Fira Sans', 'Sans-Serif';
	font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}
p {
    font-family: 'Fira Sans', 'Sans-Serif';	
	font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
    font-size: 1em;
    line-height: 1.6em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

h2, h3, h4, h5 {
	font-family: 'Fira Sans', sans-serif;
	font-weight: normal;
	font-style: italic;
	font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}
h2, h3 {
	text-transform: lowercase;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
	font-style: normal;
}
