<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		
		<link rel="stylesheet" href="/css/academicons.css">
	<link rel="stylesheet" href="/css/kube.css">
	<link rel="stylesheet" href="/css/demo.css">
<link rel="stylesheet" href="https://github.com/bdchauvette/leipzig.js/blob/master/dist/leipzig.css">
<link href="https://fonts.googleapis.com/css?family=Alegreya:400italic,400,700,700italic&subset=latin,latin-ext" rel="stylesheet" type="text/css">
 	<link href="https://fonts.googleapis.com/css?family=Alegreya+SC:400&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- <link href="https://fonts.googleapis.com/css?family=Lora:400,400italic&subset=cyrillic" rel="stylesheet" type="text/css"> -->
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400italic,400,700,700italic&subset=latin,latin-ext" rel="stylesheet">

		<!-- link to main stylesheet  -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<!-- link to Fira Sans --> 
		<link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css"> 
		<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400italic,400,700,700italic&subset=latin,latin-ext" rel="stylesheet">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/research">Research</a></li>
			<li><a href="/papers">Papers</a></li>
			<li><a href="/teaching">Teaching</a></li>
        		<li><a href="/pdf/cv-april2016.pdf">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    {{ content }}
    
    		</div><!-- /.container -->
		
		
	    
		<footer>
    		<ul>
        		<li><a href="mailto:pasha.rudnev@gmail.com">email</a></li>
        		<li><a href="https://github.com/pavelrudnev">github.com/pavelrudnev</a></li>
            <li><a href="https://rug.academia.edu/PavelRudnev">me on academia.edu</a></li>
			</ul>
		</footer>
		<script src="https://github.com/bdchauvette/leipzig.js/blob/master/dist/leipzig.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        Leipzig().gloss();
      });
    </script>
	</body>
</html>
